@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #D3FECC;
  --background: #000000;
  --light-left: background: radial-gradient(50% 50% at 50% 50%, rgba(218, 136, 220, 0.133) 0%, rgba(39, 99, 67, 0) 100%);
  --light-right: radial-gradient(50% 50% at 50% 50%, rgba(67, 122, 116, 0.21) 0%, rgba(33, 90, 102, 0.09) 100%);
  --time-marker: #8FFA6A;
}

@font-face {
  font-family: 'IngramMono';
  src: url("./assets/fonts/ingram-mono-regular.ttf");
  font-style: normal;
  font-weight: 400;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'IngramMono';
  color: var(--primary);
}



.lighting-left {
  position: absolute;
  width: 2642px;
  height: 2791px;
  left: -1429px;
  top: -1494px;
  background: var(--light-left);
}

.lighting-right {
  position: absolute;
  width: 2640px;
  height: 2582px;
  left: -512px;
  top: -1087px;
  background: var(--light-right);
}

input[type=range] {
  height: 24px;
  background: none;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  width: 17px;
  height: 26px;
  -webkit-appearance: none;
  background: url('./assets/svg/slider.svg');
  background-size: 15px 24;
  background-position: 0px 0px;
  margin: -10px 0px 0px 0px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 6px;
  background: var(--primary);
}


/* For Chrome, EDGE, Opera, Others */
::-webkit-scrollbar {
  width:  6px;
  opacity: 0.6;

}

::-webkit-scrollbar-track { 
  background: var(--background);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb { 
  background:var(--primary);
  border-radius: 12px;
}