@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #D3FECC;
  --background: #000000;
  --light-left: rgba(0,0,0,0);
  --light-right: radial-gradient(50% 50% at 50% 50%, rgba(67, 122, 116, 0.21) 0%, rgba(33, 90, 102, 0.09) 100%);
  --time-marker: #8FFA6A;
}

@font-face {
  font-family: 'IngramMono';
  src: url("./assets/fonts/ingram-mono-regular.ttf");
  font-style: normal;
  font-weight: 400;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: 'IngramMono';
  color: var(--primary);
}

.lighting-left {
  position: absolute;
  width: 2642px;
  height: 2791px;
  left: -2400px;
  top: -2400px;
  background: var(--light-left);
}

.lighting-right {
  position: absolute;
  width: 2640px;
  height: 2582px;
  left: -512px;
  top: -1087px;
  background: var(--light-right);
}

input[type=range] {
  height: 24px;
  background: none;
  -webkit-appearance: none;
  appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  width: 12px;
  height: 24px;
  -webkit-appearance: none;
  background: var(--primary);
  margin: -8px 0px 0px 0px;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 6px;
  background: var(--primary);
}


/* For Chrome, EDGE, Opera, Others */
::-webkit-scrollbar {
  width:  6px;
  opacity: 0.6;

}

::-webkit-scrollbar-track { 
  background: var(--background);
  border-radius: 12px;
}

::-webkit-scrollbar-thumb { 
  background:var(--primary);
  border-radius: 12px;
}


.scanlines {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  touch-action: none;
  background: repeating-linear-gradient(0deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 2px, transparent 2px, transparent 3px);
}

[data-tauri-drag-region] {
  -webkit-app-region: drag;
}

* {
  user-select: none;
}